.article {
	max-width: 1000px;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	background: white;
	/* border-bottom: 1px solid var(--color-gray); */
}

.action-items {
	display: flex;
	gap: 10px;
}

.input-item {
	height: 40px;
	width: 300px;
}

.button-item {
	height: 40px;
	width: 80px;
}

.sessions-list>li {
	border: 1px solid var(--color-gray);
	border-radius: var(--border-radius-low);
	/* background: var(--color-white); */
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.current-session {
	color: var(--color-soft-green);
}