.button-d {
    background-color: var(--color-blue);
    color: white;
    outline: none;
    border: 1px solid var(--color-shadow);
    border-radius: var(--border-radius-low);
    box-shadow: 0px 0px 10px var(--color-shadow);
    margin: 0 auto;
    cursor: pointer;
}

.input-d {
    padding-left: 10px;
    outline: none;
    border: 1px solid var(--color-shadow);
    border-radius: var(--border-radius-low);
    box-shadow: 0px 0px 10px var(--color-shadow);
    margin: 0 auto;
}