.dashboard-d {
    flex: 1;
    width: calc(100% - 230px);
    height: 100%;
    padding: 10px;
    background-color: var(--color-background);
}

.action-bar-d {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.action-item-d {
    border: none;
    outline: none;
    width: 80px;
    height: 80%;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: var(--border-radius-low);
    background-color: var(--color-blue);
    color: white;
    padding: 10px;
    transition: 0.4s;
}

.action-item-d:hover {
    box-shadow: 0px 0px 5px var(--color-blue);
}

.action-item-d-white {
    border: 2px solid var(--color-blue);
    width: 80px;
    height: calc(80% - 2px);
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: var(--border-radius-low);
    background-color: white;
    padding: 10px;
    transition: 0.4s;
}

.action-item-d-white:hover {
    box-shadow: 0px 0px 5px var(--color-blue);
}

.button-d {
    background-color: var(--color-blue);
    color: white;
    outline: none;
    border: 1px solid var(--color-shadow);
    border-radius: var(--border-radius-low);
    box-shadow: 0px 0px 10px var(--color-shadow);
    margin: 0 auto;
    cursor: pointer;
}

.input-d {
    padding-left: 10px;
    outline: none;
    border: 1px solid var(--color-shadow);
    border-radius: var(--border-radius-low);
    box-shadow: 0px 0px 10px var(--color-shadow);
    background: white;
    margin: 0 auto;
}

.input-d:focus {
    border: 1px solid var(--color-blue);
}

.input-d.error {
    border-color: red;
}