* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

*,
:not(i) {
  font-family: "Alumni Sans";
  font-size: 18px;
}

@font-face {
  font-family: "Alumni Sans";
  src: url("/fonts/AlumniSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  src: url("/fonts/AlumniSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alumni Sans";
  src: url("/fonts/AlumniSans-Bold.ttf");
  font-weight: Bold;
  font-style: normal;
  font-display: swap;
}


:root {
  --color-blue: rgb(26, 26, 249);
  --color-red: rgb(239, 6, 49);
  --color-green: rgb(15, 217, 15);
  --color-yellow: rgb(246, 221, 31);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --border-radius-low: 5px
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

a {
  color: black;
  text-decoration: none;
}


.toast-container {
  width: 300px;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.4s;
  position: fixed;
  z-index: 9999;
}

.toast-container.top-left {
  top: 0px;
  left: 0px;
}

.toast-container.top-right {
  top: 20px;
  right: 0px;
}

.toast-container.bottom-left {
  bottom: 0px;
  left: 0px;
}

.toast-container.bottom-right {
  bottom: 0px;
  right: 0px;
}

.toast-container>.toast {
  margin: 5px;
  min-width: 200px;
  width: 200px;
  height: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}

.toast-container>.toast>.toast-content {
  width: 90%;
  word-break: break-all;
}

.toast-container>.toast>.toast-close-icon {
  text-align: center;
  width: 10px;
  aspect-ratio: 1;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.toast-container>.toast>.toast-close-icon:hover {
  opacity: 0.9;
}

.toast-container>.toast.success {
  border-left: 7px solid var(--color-green);
}

.toast-container>.toast.error {
  border-left: 7px solid var(--color-red);
}

.toast-container>.toast.alert {
  border-left: 7px solid var(--color-yellow);
}

.toast-container>.toast.show {
  width: 260px;
  height: 50px;
}

.toast-container>.toast.hide {
  margin: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
}