* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*:not(div.toast-close-icon):not(i):not(svg) {
	font-family: "Roboto";
	font-size: 14px;
}

:root {
	--color-blue: rgb(56, 132, 247);
	--color-red: rgb(239, 6, 49);
	--color-green: rgb(0, 137, 0);
	--color-yellow: rgb(213, 188, 4);
	--color-shadow: rgb(210, 217, 228);
	--color-white: rgb(246, 246, 246);
	--color-gray: rgb(221, 223, 235);
	--color-background: rgb(242, 244, 247);
	--color-soft-yellow: rgb(248, 229, 87);
	--color-soft-magenta: rgb(78, 115, 223);
	--color-soft-blue: rgb(54, 185, 204);
	--color-soft-red: rgb(250, 143, 173);
	--color-soft-green: rgb(28, 200, 138);
	--border-radius-low: 5px;
	--border-radius-medium: 15px;
	--transition-timing-fast: .3s;
	--transition-timing-medium: .4s;
	--transition-timing-slow: .5s;
}

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

#root {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

a {
	color: black;
	text-decoration: none;
}

li {
	list-style: none;
}

#loader {
	position: absolute;
	height: 5px;
	top: 0;
	left: 0;
	background-color: var(--color-blue);
}

@media (width>=500px) {
	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	::-webkit-scrollbar-track {
		/* background: #f1f1f1; */
		background: none;
	}

	::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #878787;
	}
}