.git
.vscode
**/vendor
**/node_modules

img
dump
scripts
backend/bootstrap/cache/*.php
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/laravel.log
