# Docker things
docker/php/zz-docker.conf
docker/php/docker-php-ext-opcache.ini
docker/nginx/nginx.conf
docker/nginx/logs
/redis-data

# Ide
/.fleet
/.idea
/.vscode

# Build file
*tar.gz

# ENV
.env
.env.backup
.env.production
