.textarea-group {
	flex: 0 0 calc(50% - 35px) !important;
	height: fit-content;
}

.wrap-label {
	display: flex;
	align-items: center;
	gap: 10px;
}

.wrap-label>svg {
	color: var(--color-soft-green);
}

.textarea {
	resize: vertical;
	min-height: 70px;
}