.table-content {
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	width: fit-content;
	height: fit-content;
	padding: 15px;
	border-radius: var(--border-radius-low);
	box-shadow: 0px 0px 10px var(--color-shadow);
	border: 1px solid var(--color-white);
	background: white;
	overflow-x: auto;
}

.main {
	display: block;
	width: fit-content;
	height: fit-content;
	border-collapse: collapse;
}

.main>tbody {
	width: fit-content;
}

.main>tbody>tr,
th {
	height: 30px;
}

.main>tbody>tr {
	border-bottom: 1px solid var(--color-shadow);
	cursor: pointer;
}

.main>tbody>tr:hover {
	opacity: 0.8;
}

.column-id,
.column-select {
	width: 30px;
	text-align: center;
}

.column-status {
	width: 50px;
	white-space: nowrap;
}

.column {
	white-space: nowrap;
	height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.column.tiny {
	width: 30px;
}

.column.small {
	width: 50px;
}

.column.medium {
	width: 100px;
	padding-left: 15px;
}

.column.large {
	width: 150px;
	padding-left: 15px;
}

.column.super-large {
	width: 250px;
	padding-left: 15px;
}

.column-select {
	min-width: 40px;
}

.column-select>input {
	accent-color: var(--color-blue);
	cursor: pointer;
}

.column-content-status {
	width: 70px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.column-content-name>svg {
	margin-right: 5px;
}

.column-content-name.male>svg {
	color: blue;
}

.column-content-name.female>svg {
	color: rgb(235, 112, 132);
}

.table-footer {
	margin-top: 15px;
}

.table-links {
	width: fit-content;
	height: 30px;
	margin-top: 10px;
	display: flex;
	gap: 5px;
}

.link-content {
	display: flex;
	justify-content: center;
}

.table-links>.link-content>button {
	margin: unset;
	height: 30px;
	width: 30px;
	color: white;
	cursor: pointer;
	border: none;
	outline: none;
}

.table-links>.link-content>button.inactive {
	background: none;
	box-shadow: none;
	border: none;
	color: black;
}

.table-links>.link-content>button.next-previous {
	color: black;
	background: none;
	border: none;
	outline: none;
}

.table-links>.link-content>button.next-previous>svg {
	margin-top: 5px;
}