.textareaGroup {
    flex: 0 0 calc(50% - 5px) !important;
    height: fit-content;
}

.wrapLabel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapLabel>svg {
    color: var(--color-soft-green);
}

.textarea {
    resize: vertical;
    min-height: 70px;
}
