.examQuestionContainer {
	width: 100%;
	height: fit-content;
	border-radius: var(--border-radius-low);
	box-shadow: 0px 0px 10px var(--color-shadow);
	border: 1px solid var(--color-white);
	background: white;
	padding: 10px;
}

.questionContent,
.questionOption {
	font-size: 16px !important;
}

.questionOptionContainer {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 5px;
}


.questionOptionContainer>svg {
	font-size: 16px !important;
	color: unset;
}

.questionOptionContainer.checked>svg {
	color: var(--color-primary);
}