.editorContainer {
    padding: 10px;
    margin: 20px auto;
    border: 1px solid var(--color-shadow);
    border-radius: var(--border-radius-low);
    box-shadow: 0px 0px 10px var(--color-shadow);
    background-color: white;
}

.editorToolbar {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.toolbarButton {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid var(--color-gray);
    background-color: white;
    cursor: pointer;
    border-radius: var(--border-radius-low);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-timing-fast);
    transition-property: background-color;
}

.toolbarButton:hover {
    background-color: var(--color-white);
}

.toolbarButton.active {
    background-color: var(--color-primary);
    color: white;
    border-color: var(--color-primary);
}

.editorContent,
[contenteditable="true"] {
    outline: none;
}