.forgot-password-page {
	width: 100%;
	height: calc(100% - (75px));
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color-background);
}

.form-data {
	max-width: 400px;
	width: 80%;
	min-height: 240px;
	height: fit-content;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	background: white;
	box-shadow: 0px 0px 10px var(--color-shadow);
}

.form-data>h2,
p {
	margin-bottom: 20px;
}

.wrap-item {
	position: relative;
	height: 70px;
}

.wrap-item.textarea {
	flex: 0 0 95%;
	height: fit-content;
}

.wrap-item.textarea>.input-item {
	padding: 20px;
	min-height: 70px;
	resize: none;
	overflow: hidden;
}

.wrap-item::after {
	content: attr(data-error);
	width: fit-content;
	color: red;
}

.input-item {
	height: 40px;
	width: 100%;
}

.resend-button {
	cursor: pointer;
}

.resend-button.disabled {
	cursor: default;
	pointer-events: none;
	opacity: 0.8;
}