.verifyEmailPage {
    width: 100%;
    height: calc(100% - (75px));
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-background);
}

.formData {
    width: 400px;
    min-height: 240px;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px var(--color-shadow);
}

.formData>h2,
.formData p {
    margin-bottom: 20px;
}

.wrapItem {
    position: relative;
    height: 70px;
}

.wrapItem.textarea {
    flex: 0 0 95%;
    height: fit-content;
}

.wrapItem.textarea>.inputItem {
    padding: 20px;
    min-height: 70px;
    resize: none;
    overflow: hidden;
}

.wrapItem::after {
    content: attr(data-error);
    width: fit-content;
    color: red;
}

.inputItem {
    height: 40px;
    width: 100%;
}

.resendButton {
    cursor: pointer;
}

.resendButton.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.8;
}