.change-password-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
	transition: var(--transition-timing-fast);
	transition-property: background, opacity;
}

.change-password-container.hide {
	opacity: 0;
}

.change-password-form {
	padding: 10px;
	max-width: 400px;
	width: fit-content;
	height: fit-content;
	border-radius: var(--border-radius-low);
	/* box-shadow: 0px 0px 10px var(--color-shadow); */
	background-color: white;
	border-radius: var(--border-radius-low);
	transform-origin: center center;
	transition: var(--transition-timing-medium);
}

.change-password-form.hide {
	opacity: 0;
	scale: 0.9;
}

.header {
	height: 40px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header>.title {
	font-size: 20px;
}

.header>.esc-button {
	font-size: 22px;
	cursor: pointer;
}

.form-data {
	height: calc(100% - 40px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
}

.group-inputs {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.wrap-item {
	position: relative;
	height: 75px;
	width: 100%;
	flex: 0 0 100%;
}

.wrap-item::before {
	content: attr(data-error);
	width: fit-content;
	position: absolute;
	bottom: -10px;
	color: red;
}

.wrap-item>label {
	display: block;
}

.wrap-item>label.required::after {
	content: "*";
	color: red;
	margin-left: 5px;
}

.input-item {
	position: relative;
	height: 40px;
	width: 100%;
}

.input-item.error {
	border-color: red;
}


.submit {
	width: 100%;
	height: 40px;
	position: relative;
}

.submit.submitting,
.submit.blocking {
	opacity: 0.7;
	cursor: default;
	pointer-events: none;
}

.submit.submitting:after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 4px solid transparent;
	border-top-color: #ffffff;
	border-radius: 50%;
	animation: login-loading-spinner 1s ease infinite;
}

@keyframes login-loading-spinner {
	from {
		transform: rotate(0turn);
	}

	to {
		transform: rotate(1turn);
	}
}

@media (width<=800px) {
	.change-password-form {
		width: 95%;
	}
}