.dashboard {
    width: 100%;
    height: 100%;
    position: relative;
}

.wrap-dasshboard-item {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.dashboard-item {
    width: 220px;
    height: 150px;
    background: var(--color-blue);
    border-radius: var(--border-radius-low);
}

.dashboard-item {
    display: grid;
    grid-template-areas:
        "left top top"
        "left top top"
        "bottom bottom bottom";
}

.dashboard-item>.item-left {
    grid-area: left;
}

.dashboard-item>.item-left>svg {
    font-size: 56px;
    margin-top: 10px;
    margin-left: 10px;
}

.dashboard-item>.item-top {
    grid-area: top;
    font-size: 56px;
    text-align: center;
}

.dashboard-item>.item-bottom {
    grid-area: bottom;
    font-size: 24px;
    text-align: center;
}

.dashboard-item>* {
    color: white;
}

.container-blue {
    background: var(--color-soft-blue);
    border-radius: var(--border-radius-low);
    box-shadow: 0px 0px 5px var(--color-soft-blue);
}

.container-red {
    background: var(--color-soft-red);
    border-radius: var(--border-radius-low);
    box-shadow: 0px 0px 5px var(--color-soft-red);
}

@media (width<=800px) {
    .dashboard-item {
        width: 160px;
    }
}