.dashboard-card {
	flex: 0 0 calc(25% - 20px);
	min-width: 160px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: var(--border-radius-low);
	border-left: 5px solid;
}

.dashboard-card>.card-top {
	height: 50%;
	font-size: 38px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px 0px 20px;
}

.dashboard-card>.card-bottom {
	margin-left: 20px;
}

.container-magenta {
	border-color: var(--color-soft-magenta);
}

.container-blue {
	border-color: var(--color-soft-blue);
}

.container-red {
	border-color: var(--color-soft-red);
}

.container-green {
	border-color: var(--color-soft-green);
}

@media (width<=1000px) {
	.dashboard-card {
		flex: 0 0 calc(50% - 20px);
	}
}

@media (width<=800px) {}