.header {
    height: 75px;
    background-color: white;
    position: relative;
    border-bottom: 1px solid var(--color-shadow);
}

.left-items {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-items>.app-title {
    font-size: 22px;
}

.toggle {
    width: 30px;
    height: 30px;
}

.toggle>svg {
    font-size: 28px;
    cursor: pointer;
}

.right-items {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.right-item {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.right-item>svg {
    font-size: 24px;
}