.header {
	height: 75px;
	background-color: white;
	position: relative;
	border-bottom: 1px solid var(--color-shadow);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	z-index: 2;
}

.left-items {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-left: 15px;
}

.left-items>.app-title {
	font-size: 22px;
}

.toggle {
	width: 30px;
	height: 30px;
}

.toggle>svg {
	font-size: 28px;
	cursor: pointer;
}

.right-items {
	gap: 10px;
	display: flex;
	align-items: center;
}

.select-language {
	width: 100px;
	box-shadow: none;
}

.right-item {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.right-item.show {
	overflow: visible;
}

.right-item>svg {
	font-size: 24px;
}

.drop-down {
	position: absolute;
	width: 150px;
	background: white;
	padding: 0;
	position: absolute;
	right: 0px;
	top: 50px;
	height: fit-content;
	border-radius: var(--border-radius-low);
	box-shadow: 0px 0px 10px var(--color-shadow);
}

.drop-item {
	padding: 0;
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	padding-left: 10px;
}

.drop-item:hover {
	background: var(--color-white);
}

.drop-item>svg {
	font-size: 18px;
}