.nav-bar {
    width: 230px;
    height: 100%;
    box-shadow: 0px 0px 10px var(--color-shadow);
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: var(--transition-timing-medium);
}

.hide {
    margin-left: -230px;
}

.list {
    width: 100%;
}

.list-item {
    width: 90%;
    height: 50px;
    cursor: pointer;
    transition: var(--transition-timing-medium);
    display: flex;
    /* background-color: var(--color-white); */
    align-items: center;
    border-radius: var(--border-radius-low);
    padding: 10px;
    position: relative;
    margin: 10px auto;
}

.list-item:hover {
    background-color: var(--color-white);
}

.list-item::before {
    content: '';
    height: 100%;
    width: 5px;
    background-color: var(--color-blue);
    position: absolute;
    left: -20px;
    transition: var(--transition-timing-fast);
}

.current {
    background-color: var(--color-white);
}

.current::before {
    content: '';
    height: 100%;
    width: 5px;
    background-color: var(--color-blue);
    position: absolute;
    translate: 20px 0px;
    transition: var(--transition-timing-fast);
}

/* .list-item:hover {
    border-left: 5px solid var(--color-blue);
} */

.list-item>svg {
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.list-item>a {
    font-size: 24px;
    margin-left: 15px;
}

@media (width<=800px) {
    .nav-bar {
        position: fixed;
    }
}