.score-popup-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
	transition: var(--transition-timing-fast);
	transition-property: background, opacity;
}

.score-content {
	width: 300px;
	height: 400px;
	border-radius: var(--border-radius-low);
	box-shadow: 0px 0px 10px var(--color-shadow);
	background-color: white;
	border-radius: var(--border-radius-low);
	transform-origin: center center;
	transition: var(--transition-timing-medium);
	overflow-y: hidden;
	animation: score-pop-up-animation 0.4s ease;
}

.title {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title>h2 {
	font-size: 18px !important;
	text-align: center;
}

.content-data {
	height: calc(100% - 40px);
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

.group-data {
	height: calc(100% - 60px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.score {
	width: max-content;
	aspect-ratio: 1;
	padding: 10px;
	border-radius: 50%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: min(22px, 3.5vh) !important;
	font-weight: bold;
	box-shadow: 0px 0px 10px var(--color-shadow);
}

.score.green {
	background: var(--color-soft-green);
}

.score.yellow {
	background: var(--color-soft-yellow);
}

.score.red {
	background: var(--color-soft-red);
}

.group-data>svg {
	font-size: 96px;
	color: var(--color-soft-yellow);
}

.correct-count {
	font-size: 32px !important;
	font-weight: bold;
}

.action-items {
	/* margin-top: 10px; */
	height: 60px;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	gap: 10px;
}

.action-items>button {
	width: fit-content;
	min-width: 80px;
	height: 40px;
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 0px 10px 00px 10px;
}

@keyframes score-pop-up-animation {
	0% {
		scale: 0.7;
		opacity: 0.3;
	}

	100% {
		scale: 1;
		opacity: 1;
	}
}