.score-popup-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
	transition: var(--transition-timing-fast);
	transition-property: background, opacity;
}

.score-content {
	width: 300px;
	height: fit-content;
	/* box-shadow: 0px 0px 10px var(--color-shadow); */
	background-color: white;
	border-radius: var(--border-radius-low);
	transform-origin: center center;
	transition: var(--transition-timing-medium);
	overflow-y: hidden;
	animation: score-pop-up-animation 0.5s ease;
}

.title {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title>h2 {
	font-size: 18px !important;
	text-align: center;
}

.content-data {
	height: calc(100% - 40px);
}

.group-data {
	height: calc(100% - 60px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.group-items {
	flex: 0 0 calc(25% - 20px);
	width: 80%;
	padding: 20px;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.label {
	font-size: 20px !important;
	font-weight: bold;
}

.score {
	width: max-content;
	padding: 10px;
	border-radius: var(--border-radius-low);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px !important;
	font-weight: bold;
}

.score.green {
	background: var(--color-soft-green);
	box-shadow: 0px 0px 5px var(--color-soft-green);
}

.score.yellow {
	background: var(--color-soft-yellow);
	box-shadow: 0px 0px 5px var(--color-soft-yellow);
}

.score.red {
	background: var(--color-soft-red);
	box-shadow: 0px 0px 5px var(--color-soft-red);
}

.action-items {
	height: 60px;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	gap: 10px;
}

.action-items>button {
	width: fit-content;
	min-width: 80px;
	height: 40px;
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 0px 10px 00px 10px;
}

@keyframes score-pop-up-animation {
	0% {
		scale: 0.1;
		opacity: 0.1;
		translate: 0 200px;
	}

	70% {
		scale: 1.15;
		opacity: 1;
	}

	100% {
		scale: 1;
		opacity: 1;
		translate: unset;
	}
}