.update-course-students-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
	transition: var(--transition-timing-fast);
	transition-property: background, opacity;
}

.update-course-students-container.hide {
	opacity: 0;
}

.update-course-students-form {
	width: 500px;
	height: 90%;
	/* box-shadow: 0px 0px 10px var(--color-shadow); */
	background-color: white;
	border-radius: var(--border-radius-low);
	transform-origin: center center;
	transition: var(--transition-timing-medium);
}

.update-course-students-form.hide {
	opacity: 0;
	scale: 0.9;
}

.header {
	height: 40px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header>.title {
	font-size: 20px;
}

.header>.esc-button {
	font-size: 22px;
	cursor: pointer;
}

.form-content {
	flex: 1;
	padding: 20px;
	height: calc(100% - 40px);
}

.input-item {
	height: 50px;
	width: 100%;
	margin-bottom: 10px;

}

.wrap-data-container {
	height: calc(100% - 120px);
	margin-right: -5px;
	overflow-y: auto;
}

.data-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.data-container>label {
	font-size: 16px !important;
}

.joined-students-container {
	width: 100%;
	min-height: 50px;
	height: fit-content;
	border: 1px solid var(--color-shadow);
	border-radius: var(--border-radius-low);
	box-shadow: 0px 0px 10px var(--color-shadow);
	list-style-type: none;
}

.joined-student {
	width: fit-content;
	height: 50px;
	margin: 5px;
	display: inline-block;
	/* background: var(--color-blue);
	color: white; */
	border-radius: var(--border-radius-low);
	border: 1px solid var(--color-shadow);
	cursor: pointer;
	padding: 0px 10px 0px 10px;
}

.joined-student>div {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
}

.all-student-conatiner {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.card {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	border-radius: var(--border-radius-low);
	border: 1px solid var(--color-shadow);
	border-left: 5px solid var(--color-soft-magenta);
	cursor: pointer;
	padding: 0px 20px 0px 20px;
}


.card>.card-left {
	display: flex;
	align-items: center;
	gap: 20px;
}

.card>.card-left>svg {
	font-size: 20px !important;
}

.action-items {
	margin-top: 10px;
	height: 50px;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	gap: 10px;
}

@media (width<=800px) {
	.update-course-students-form {
		width: 100%;
		height: 100%;
		border-radius: 0px;
	}
}