.users-content {
    width: 100%;
    height: calc(100% - 50px);
}

.filter-form {
    height: 50px;
}

.table-content {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
}

.table-content>.main {
    width: 100%;
    border-collapse: collapse;
}

.table-content>.main>tbody>tr,
td,
th {
    height: 30px;
    border: 1px solid var(--color-shadow);
}

.table-content>.main>tr,
td {
    height: 30px;
}

/* .table-header>th {
    height: 30px;
} */

.column-id {
    width: 30px;
    text-align: center;
}

.column-shortcode {
    width: 250px;
}

.column-name {
    width: 250px;
}

.column-email {
    width: 250px;
}

.column-content-email,
.column-content-shortcode,
.column-content-name {
    padding-left: 10px;
}

.column-content-name.male>svg {
    color: blue;
}

.column-content-name.female>svg {
    color: pink;
}

.table-links {
    position: absolute;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.table-links>button {
    margin: unset;
    height: 30px;
    width: 30px;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}

.table-links>button.inactive {
    background: none;
    box-shadow: none;
    border: none;
    color: black;
}

button.next-previous {
    background: none;
    border: none;
    outline: none;
}

.table-loading {
    width: 100px;
    height: 30px;
    border: 1px solid var(--color-shadow);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: var(--border-radius-low);
    box-shadow: 0px 0px 10px var(--color-shadow);
    padding-top: 3px;
}