.users-content {
    width: 100%;
    height: calc(100% - 50px);
    /* overflow: scroll; */
}

.filter-form {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: scroll;
}

.wrap-input-item {
    max-height: 40px;
    max-width: 300px;
    min-width: 200px;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrap-input-item>label {
    white-space: nowrap;
}

.input-item {
    max-height: 40px;
    max-width: 300px;
    width: 80%;
    height: 80%;
}

.custom-select {
    z-index: 1;
    max-height: 40px;
    max-width: 300px;
    width: 80%;
    height: 80%;
}

.table-content {
    max-width: 100vw;
    width: 100%;
    height: calc(100% - 75px);
    position: relative;
    /* overflow-y: scroll; */
}

.table-content>.main {
    display: block;
    height: calc(100% - 50px);
    width: 100%;
    border-collapse: collapse;
    overflow-y: scroll;
    /* border: 1px solid var(--color-shadow); */
}

/* .table-content>.main>tbody {
    overflow-y: scroll;
} */

.table-content>.main>tbody>tr,
th {
    height: 30px;
}


.table-header>th {
    border: 1px solid var(--color-shadow);
}

.table-content>.main>tr,
td {
    height: 30px;
}

.column-id {
    width: 30px;
    text-align: center;
}

.column-shortcode {
    width: 250px;
}

.column-name {
    width: 250px;
}

.column-class {
    width: 100px;
}

.column-email {
    width: 250px;
}

.column-content-email,
.column-content-shortcode,
.column-content-name {
    padding-left: 10px;
    width: 250px;
}

.column-content-class {
    width: 50px;
}

.column-content-name {
    display: flex;
    align-items: center;
}

.column-content-name.male>svg {
    color: blue;
}

.column-content-name.female>svg {
    color: rgb(235, 112, 132);
}

.table-links {
    position: absolute;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    /* justify-content: center; */
    gap: 5px;
}

.link-content {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.table-links>.link-content>button {
    margin: unset;
    height: 30px;
    width: 30px;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}

.table-links>.link-content>button.inactive {
    background: none;
    box-shadow: none;
    border: none;
    color: black;
}

.table-links>.link-content>button.next-previous {
    color: black;
    background: none;
    border: none;
    outline: none;
}

.table-links>.link-content>button.next-previous>svg {
    margin-top: 5px;
}

.table-loading {
    width: 100px;
    height: 30px;
    border: 1px solid var(--color-shadow);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: var(--border-radius-low);
    box-shadow: 0px 0px 10px var(--color-shadow);
    padding-top: 3px;
}

@media(width<=800px) {
    /* .filter-form {
        width: 90%;
    } */

    .table-links {
        width: 95vw;
        overflow-x: scroll;
    }

    .table-content {
        width: 95%;
    }
}