.form-data {
    width: 100%;
    height: calc(100% - (40px));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.form-content {
    flex: 1;
}

.action-items {
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
}

.pending {
    opacity: 0.7;
    cursor: default;
    pointer-events: none;
}